/* your code */
/* body{
	border-radius: 50px;
} */
thead{
	color:white;
	background-color: blue;
	
}
.a,.first,.second{
	
	padding-right: 50px;
	
}
.first{
	background-color: lightgray
}
.second{
	background-color: lightcoral;
}
